@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Noto Sans KR";
  }
}

* {
  caret-color: transparent;
}

input, textarea, [contenteditable="true"] {
  caret-color: auto;
}

#root {
  text-align: center;
}

.h-mobile {
  height: calc(100svh);
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.pick-border-2-0 {
  animation: motion-2 0.3s linear 8 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}
.pick-border-2-1 {
  animation: motion-2 0.3s linear 8.75 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}

.pick-border-3-0 {
  animation: motion-3 0.3s linear 8 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}
.pick-border-3-1 {
  animation: motion-3 0.3s linear 8.42 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}
.pick-border-3-2 {
  animation: motion-3 0.3s linear 8.85 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}

.pick-border-4-0 {
  animation: motion-4 0.3s linear 8.1 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}
.pick-border-4-1 {
  animation: motion-4 0.3s linear 8.36 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}
.pick-border-4-2 {
  animation: motion-4 0.3s linear 8.62 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}
.pick-border-4-3 {
  animation: motion-4 0.3s linear 8.89 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}

.pick-border-5-0 {
  animation: motion-5 0.3s linear 8.05 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}
.pick-border-5-1 {
  animation: motion-5 0.3s linear 8.26 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}
.pick-border-5-2 {
  animation: motion-5 0.3s linear 8.5 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}
.pick-border-5-3 {
  animation: motion-5 0.3s linear 8.75 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}
.pick-border-5-4 {
  animation: motion-5 0.3s linear 8.98 alternate;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
}

@keyframes motion-2 {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: 60px;
  }
}

@keyframes motion-3 {
  0% {
    margin-top: -10px;
  }
  100% {
    margin-top: 80px;
  }
}

@keyframes motion-4 {
  0% {
    margin-top: -40px;
  }
  100% {
    margin-top: 100px;
  }
}

@keyframes motion-5 {
  0% {
    margin-top: -50px;
  }
  100% {
    margin-top: 107px;
  }
}
